* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #FAF9F9;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    width: 80%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.text {
    flex: 0 0 580px;  /*?????*/
    padding: 170px 0;
}
h1 span {
    
    font-size: 30px;
    line-height: 38px;
    color: #FBB731;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
h1 {
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.text p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    color: #DEDEDE;
    margin-bottom: 42px;
}
a {
    text-decoration: none;
    
}
.text a,
.free a  {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 45px;
    display: inline-block;
}
h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
}
ul {
    list-style-type: none;
}


.visual {
    flex-grow: 1;  /*???*/
    position: relative;
    display: flex;
    justify-content: flex-end;


}

.bg {
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
    width: 432px;
    height: 100%;
}
.burger {
    width: 100%;
    position: absolute;
    /*right: -168px*/
    top: 60px;
    left: 40px;
}


.promo .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.promo {
    padding: 186px 0;
    height: 100%;
}
.stock {
    /*width: 450px;
    /*height: 395px;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 115px 53px;

}

.discount {
    background-image: url("../burger/img/discont.png");    
}

.free {
    background-image: url("../burger/img/free.png");
}

.sale {
    color: #ffffff;
    text-transform: uppercase;
    width: 102px;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    background: #F37335;
    border-radius: 14px;
    padding: 5px 10px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.cost{
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.condition {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
      
}
.free .condition  {
    width: 299px;
    margin-bottom: 20px;
}
.free_title {
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.free a {
    width: 170px;
    text-align: center;
}


/****FOOTER*/
.footer {
    background: #1E2F40;
    padding: 111px 0;
}

.footer li,
.footer a {
    font-size: 15px;
    line-height: 24px;
    color: #DEDEDE;
    font-family: 'Lato', sans-serif;
    margin-bottom: 9px;
}
.footer span {
    font-weight: bold;
}
.footer__contacts li {
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
}
